/* Experiencia Académica*/

.academic{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo-secundario);
    padding: 3rem;
    gap: 32px;
    border-radius: 20px;
    margin-bottom: 64px;
}

.academic__courses{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.academic__courses__box{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.academic__courses__item__img{
    width: 100%;
    border-radius: 100%;
}
